<body>
<div class="full">
<div class="header">

            <label id="appname" class="logo"><strong> Smart Buddy</strong></label>

            <label id="pgname"><Strong>Supervisor</Strong></label>

            <button id="logoutbtn" mat-raised-button (click)='logout()' class="logout">Logout</button>

        </div>
        <!-- new-component.component.html -->

<div class="body">


<div class="left">
  <div class="heading">
  <h1>Remove Resources</h1>
</div>
  <p>Enter Employee Id:</p>
    <mat-form-field class="anything">

    <mat-label>Enter Employee Id:</mat-label>
    <input  style="margin-left: 2cm;" #yourInput matInput name="id" formControlName="id" required><br>
    </mat-form-field>
    <button color="primary" style= "width: 10cm;   font-family: ROBOTO;" mat-raised-button class="button" (click)="del(yourInput.value)">Remove</button>
  </div>

<div class="right">
  <div style="margin-left: 3cm; margin-top: 2cm;">
  <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;" mat-raised-button class="button" (click)="home()">JDS</button><br>
  <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;" mat-raised-button class="button" (click)="addResources()">Add Resources</button>
  <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;" mat-raised-button class="button" (click)="viewResources()">View All Resources</button>
  <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;" mat-raised-button class="button" (click)="addjds()">Add JDS</button>

</div>
</div>

</div>
</div>
</body>
