<body>
  <div class="full">
  <div class="header">
              <label id="appname"><strong> Smart Buddy</strong></label>
              <label id="pgname"><Strong>Supervisor</Strong></label>
              <button id="logoutbtn" mat-raised-button class="logout">Logout</button>

          </div>
  <div class="body">
  <div class="left">
    <div class="heading">
    <h1>View All Resources</h1>
  </div>
  <div>
    <mat-table [dataSource]="tableData">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="empId">
        <mat-header-cell *matHeaderCellDef>Employee ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.empId }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="password">
        <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.password }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="primarySkill">
        <mat-header-cell *matHeaderCellDef>Primary Skill</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.primarySkill }}</mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="['name', 'empId', 'email', 'password', 'primarySkill']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'empId', 'email', 'password', 'primarySkill']"></mat-row>
    </mat-table>  
</div>
</div>

  <div class="right">
    <div style="margin-left: 3cm; margin-top: 2cm;">
   
    <button mat-raised-button class="button" color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;" >JDS</button><br>
    <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;
    color: aliceblue;" mat-raised-button class="button">Add Resources</button>
    <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;
    color: aliceblue;" mat-raised-button class="button">View All Resources</button>
    <button color="primary" style= "width: 10cm; height: 1.3cm; margin-bottom: 0.6cm;   font-family: ROBOTO;
    color: aliceblue;" mat-raised-button class="button" >Add JDS</button>
  </div>
  </div>
  </div>
  </div>
  </body>
